<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>로그인 페이지</title>
  <!-- 커스텀 CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/css/stockinfo.css" />
  <!-- Bootstrap -->
</head>

<body class="bg-dark text-white">
  <!-- 헤더 -->
  <header class="custom-header">
    <div class="container d-flex justify-content-between align-items-center">
      <h1 class="logo"><b id="logo">StockPro</b></h1>
      <nav>
        <ul>
          <li>
            <button type="button" class="btn btn-primary" id="mypageButton">
              내정보
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-primary" id="logoutButton">
              로그아웃
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- 메인 컨테이너 -->
  <div class="container mt-5">
    <div class="row">
      <!-- 주식 차트 -->
      <div class="col-lg-8">
        <div class="card p-4 bg-secondary text-white custom-section">
          <div class="titlelist">
            <h3 id="stock-name"></h3>
            <input id="stockCode" type="hidden" value="000000">
            <button id="favoriteButton" class="heart-button"></button>
          </div>
          <p>현재가: <span class="text-success" id="stock-price"></span></p>
          <canvas id="stockChart"></canvas>
        </div>
      </div>

      <!-- 매수/매도 창 -->
      <div class="col-lg-4">
        <form class="p-4 bg-secondary rounded shadow-lg custom-section">
          <h3 class="text-center mb-4">주문하기</h3>

          <!-- 주문 유형 선택 -->
          <div class="mb-3">
            <label for="orderType" class="form-label">주문 유형</label>
            <select class="form-select" id="orderType">
              <option value="매수">매수</option>
              <option value="매도">매도</option>
            </select>
          </div>

          <!-- 매수가격 입력 -->
          <div class="mb-3">
            <label for="buyPrice" class="form-label">매수가격 (원)</label>
            <input type="number" class="form-control" id="buyPrice"/>
          </div>

          <!-- 수량 입력 -->
          <div class="mb-3">
            <label for="quantity" class="form-label">수량</label>
            <input type="number" class="form-control" id="quantity" value="1" />
          </div>

          <!-- 총 주문 금액 -->
          <p>총 주문 금액: <input id="totalAmount"></p>

          <!-- 주문 버튼 -->
          <button type="button" class="btn btn-success w-100" onclick="placeOrder()">
            주문하기
          </button>
        </form>
      </div>
    </div>
  </div>

  <!-- 푸터 -->
  <footer class="custom-footer">
    <div class="container text-center">
      <p>&copy; 2025 StockPro. All rights reserved. ROUNDING-OFF</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../static/js/stockinfo.js"></script>
</body>

</html>