:root {
  --background-color: #18181b; /* 메인 배경색 */
  --card-background: #202124; /* 카드 섹션 배경 */
  --border-color: #3a3b3d; /* 경계선 */
  --text-color: #e4e4e7; /* 기본 텍스트 (밝은 회색) */
  --highlight-color: #ffffff; /* 강조 텍스트 */
  --primary-color: #007bff; /* 주요 색상 */
}

html,
body {
  height: 100%; /* 전체 높이를 화면 크기로 설정 */
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif; /* 기본 폰트 */
  background-color: var(--background-color); /* 배경색 */
  color: var(--text-color); /* 기본 텍스트 색상 */
  display: flex; /* 전체 레이아웃 Flexbox */
  flex-direction: column; /* 위에서 아래로 정렬 */
}

/* 헤더 스타일 */
.custom-header {
  background-color: var(--card-background);
  padding: 20px 0;
  height: 97px;
  border-bottom: 1px solid var(--border-color);
}

.logo {
  font-size: 2.5em;
  background: linear-gradient(90deg, #ff69b4, #8f2db6, #6f9cfc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

/* ===================== 카드 스타일 ===================== */
.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  border: none;
}

/* ===================== 폼 스타일 ===================== */
form {
  background: #1e1e1e;
  border-radius: 12px;
  padding: 20px;
}

.form-control,
.form-select {
  border: 1px solid #333;
  background: #333;
  color: white;
}

.btn-success {
  background-color: #4caf50;
  border: none;
}

.btn-success:hover {
  background-color: #45a049;
}

/* 푸터 스타일 */
.custom-footer {
  background-color: var(--card-background);
  padding: 15px 0;
  color: var(--text-color);
  border-top: 1px solid var(--border-color);
  text-align: center;
}
